{%- assign paper = site.data.bibere.papers[include.pid] -%}
{%- if paper -%}
    {%- capture clean_id -%}
    {{ include.pid | replace: ":", "_" | replace: "-", "_" }}
    {%- endcapture -%}
    <li id="{{ clean_id }}">
        <!-- Author -->
        {%- for a in paper.authors -%}
            {%- assign author = site.data.bibere.authors[a] -%}
            {%- if a == include.mainAuthor -%}
                {%- assign authorClass = "mainAuthor" -%}
            {%- else -%}
                {%- assign authorClass = "author" -%}
            {%- endif -%}
            <span class="{{ authorClass }}">
            {%- if author -%}
                {%- if author.website -%}
                    <a href="{{ author.website }}">{{ author.name.first }} {{ author.name.last }}</a>
                {%- else -%}
                    {{ author.name.first }} {{ author.name.last }}
                {%- endif -%}
            {%- else -%}
                {{ a }}
            {%- endif -%}
            </span>
            {%- if forloop.last == true -%}
                .&nbsp;
            {%- else -%}
                ,&nbsp;
            {%- endif -%}
        {%- endfor -%}
        <!-- Title -->
        {%- assign clean_title = paper.title | replace: "}", '' | strip_newlines -%}
        <span class="title">{{ clean_title | replace: "{", '' }}.</span>
        <!-- Venue -->
        <span class="venue">{{ paper.venue }}&nbsp;</span>
        <!-- Year -->
        <span class="year">{{ paper.year }}.&nbsp;</span>
        <!-- DOI -->
        <span>{{paper.doi}}</span>
        <!-- Links -->
        [
        {%- if paper.links -%}
            {%- for item in paper.links -%} 
                <a href="{{item.link}}">{{item.name}}</a>
            {%- endfor -%}
        {%- endif -%}]
        <!-- Abstract -->
        {%- if paper.abstract -%}
        &nbsp;<a class="collapse-clicker" onclick="$('#{{ clean_id }}_abstract').slideToggle(200)">Abstract</a>,
        {%- endif -%}
    </li>
{%- else -%}
    <p class="text-danger">Paper with id {{include.pid}} not found!</p>
    {{ error.standard_error }}
{%- endif -%}
