<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <span class="social-links">
        gabrielle.leung@colostate.edu
        <br/>
        <a href="https://github.com/grleung">Github</a> •
        <a href="https://orcid.org/0000-0003-2216-6207/">OrcID</a> •
        <a href="https://scholar.google.com/citations?user=GfYP6bAAAAAJ&hl=en">Google Scholar</a>
        
      </span>
      
      <span class="footer-col">
        {{ site.description }}
      </span>
    
      
    </div>
  </div>

</footer>
