<div class="card-item col">
  <a class='page-link' href="/research/index.html">
    <div class="card hoverable">
        {%- if project.short_img -%}
        <div class="card-img col-sm">
          {% include figure.html path=project.short_img alt="project thumbnail"%}
        </div>
        <div class="col-md-6">
        {%- else -%}
        <div class="col-md-12">
        {%- endif -%}
          <div class="card-body">
            <h3 class="card-title text-lowercase">{{ project.title }}</h3>
          </div>
        </div>
    </div>
  </a>
</div>