/**
 * Site header
 */
.site-header {
  background-color: $site-title-color;
  height: 100px;
  border-top: 20px solid $border-color-03;
  border-bottom: 0px solid $border-color-01;
  min-height: $spacing-unit * 3;
  line-height: $base-line-height * $base-font-size * 2;
  position: relative;
  padding-bottom:15px;
}

.site-title {
  @include relative-font-size(2.75);
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  color: $background-color;

  @include media-query($on-palm) {
    padding-right: 45px;
  }

  &,
  &:visited {
    color: $background-color;
  }
}

.site-subtitle{
  color: $background-color
}

.site-nav {
  position: absolute;
  right: $spacing-unit * .5;
  background-color: $background-color;
  border: 5px solid $border-color-01;
  border-radius: 2px;
  text-align: right;
  color: $site-title-color;
  padding-bottom:40px;

  .nav-trigger { display: none; }

  .menu-icon {
    float: right;
    width: 36px;
    height: 42px;
    line-height: 0;
    padding-top: 0px;
    text-align: center;

    > svg path {
      fill: $border-color-03;
    }
  }

  label[for="nav-trigger"] {
    display: block;
    width: 36px;
    height: 42px;
    z-index: 2;
    cursor: pointer;
  }

  input ~ .trigger {
    clear: both;
    display: none;
  }

  input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }

  .page-link {
    color: $site-title-color;;
    line-height: $base-line-height;
    display: block;
    padding: 5px 10px;
    margin-left: 20px;

    &:not(:last-child) { margin-right: 0; }
  }

  @media screen and (min-width: $on-medium) {
    position: static;
    border: none;
    background-color: inherit;

    label[for="nav-trigger"] { display: none; }
    .menu-icon { display: none; }

    input ~ .trigger { display: block; }

    .page-link {
      display: inline;
      padding: 0;
      margin-left: auto;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 5px solid $border-color-01;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit * .5;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  display: inline-block;
  width: auto;
}

.footer-col {
  text-align: right;
  margin-bottom: $spacing-unit * .5;
  @include relative-font-size(0.9);
  color: $brand-color;
}

.social-links {
  @include relative-font-size(0.9);
  color: $brand-color;
  text-align: left;
  width: calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-1,
.footer-col-2 {
  width: calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: calc(100% - (#{$spacing-unit} / 2));
}

@media screen and (min-width: $on-large) {
  .footer-col-1 { width: calc(35% - (#{$spacing-unit} / 2)); }
  .footer-col-2 { width: calc(20% - (#{$spacing-unit} / 2)); }
  .footer-col-3 { width: calc(45% - (#{$spacing-unit} / 2)); }
}

@media screen and (min-width: $on-medium) {
  .footer-col-wrapper { display: flex; }

  .footer-col {
    width: calc(100% - (#{$spacing-unit} / 2));
    padding: 0 ($spacing-unit * .5);

    &:first-child { padding-right: $spacing-unit * .5; }
    &:last-child { padding-left: $spacing-unit * .5; }
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1 0 auto;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;
  padding: 0;
}

.post-meta {
  display: inline-block;
  width:10%;
  font-size: $small-font-size;
  color: $brand-color;
}

.post-text {
  display: inline-block;
  width: 85%;
  vertical-align: top;
  @include relative-font-size(1);
  padding-bottom: 0.75em;
  padding-left:0.5em;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
  color: $brand-color;
}

.post-title,
.post-content h1 {
  @include relative-font-size(2);
  letter-spacing: -1px;
  line-height: 1.15;
}

.post-content {
  margin-bottom: $spacing-unit;
  h1, h2, h3, h4, h5, h6 { margin-top: $spacing-unit; }

  h2 {
    @include relative-font-size(1.75);
  }

  h3 {
    @include relative-font-size(1.375);
  }

  h4 { @include relative-font-size(1.25); }
  h5 { @include relative-font-size(1.125); }
  h6 { @include relative-font-size(1.0625); }
}


/**
 * Social Media List
 */
.social-media-list {
  display: table;
  margin: 0 auto;
  li {
    float: left;
    margin: 5px 10px 5px 0;

    &:last-of-type { margin-right: 0; }

    a {
      display: block;
      padding: 10px 12px;
      border: 1px solid $border-color-01;

      &:hover { border-color: $border-color-02; }
    }
  }
}



/**
 * Pagination navbar
 */
.pagination {
  margin-bottom: $spacing-unit;
  @extend .social-media-list;

  li {
    a, div {
      min-width: 41px;
      text-align: center;
      box-sizing: border-box;
    }

    div {
      display: block;
      padding: $spacing-unit * .25;
      border: 1px solid transparent;

      &.pager-edge {
        color: $border-color-01;
        border: 1px dashed;
      }
    }
  }
}



/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
  .one-half { width: calc(50% - (#{$spacing-unit} / 2)); }
}

@media screen and (max-width: 768px) {
  /* On smaller screens, make the layout stacked */
  .content-wrapper {
    flex-direction: column;
  }

  .text {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.7);
    z-index: 10;
  }

  .image { width: 100%; }

  .post-item {
    flex-direction: column;
    text-align: center;
  }

  .post-meta {
    width: 100%;
    margin-bottom: 10px;
  }

  .post-text {
    width: 100%;
    font-size: 1.1rem;
  }

  .post-excerpt {
    font-size: 0.9rem;
    color: #777;
  }

  .see-more-link {
    font-size: 1rem;
    padding: 14px;
  }
}
